@font-face {
    font-family: 'Museo Sans Light';
    src: url('../fonts/MuseoSansCyr/MuseoSansCyrl-300.eot');
    src: url('../fonts/MuseoSansCyr/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSansCyr/MuseoSansCyrl-300.woff') format('woff'),
        url('../fonts/MuseoSansCyr/') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Bold';
    src: url('../fonts/MuseoSansCyrMuseoSansCyrl-700.eot');
    src: url('../fonts/MuseoSansCyrMuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSansCyrMuseoSansCyrl-700.woff') format('woff'),
        url('../fonts/MuseoSansCyrMuseoSansCyrl-700.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin reg {
    font-family: 'Museo Sans Light', sans-serif;
    font-weight: 300;
}

@mixin bold {
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
}